<div id="html-body-main-div">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <canvas id="canvas-0"></canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas id="canvas-1"></canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas id="canvas-2"></canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas id="canvas-3"></canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas id="canvas-4"></canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas id="canvas-5"></canvas>
    </mat-grid-tile>
  </mat-grid-list>
</div>
